documents/
my_knowledge_dataset/
temp2.ipynb
temp.py
wikidata5m_entity.txt
wikidata5m_relation.txt
wikidata5m_text.txt
wikidata_text_uni.json
wikidata5m_en_text.json
wikidata_name_id_uni.json
wikidata5m_en_unidecoded.json
wikidata5m_en_util_unidecoded.json
wikidata5m_name_id_codex.json
wikidata5m.json
wikidata5m_alias.tar.gz
wikidata5m_all_triplet.txt
test/
qa_expert/
codex-master.zip
entities.json