documents/
my_knowledge_dataset/
temp2.ipynb
temp.py
wikidata5m_entity.txt
wikidata5m_relation.txt
wikidata5m_text.txt
wikidata_text_uni.json
wikidata5m_en_text.json
wikidata_name_id_uni.json
wikidata5m_en_unidecoded.json
wikidata5m_en_util_unidecoded.json
wikidata5m_name_id_codex.json
wikidata5m_unidecoded.json
wikidata5m_unidecoded.json
wikidata-scripts/*
wikidata5m.json
wikidata5m_alias.tar.gz
wikidata5m_all_triplet.txt
test/
qa_expert/
codex-master.zip
entities.json
llama_local/
repo_final/wikidata_name_id_uni.json
repo_final/wikidata5m_en_unidecoded.json
repo_final/wikidata5m_en_util_unidecoded.json
repo_final/wikidata5m_en_text.json
repo_final/wikidata5m_entity.txt
repo_final/wikidata5m_relation.txt
repo_final/llama_local/
wikidata_graphs/
16bit_llama13/
gemini/
mistral1/
.git/
wikidata_graphs/
vicuna7b_16/
4bit_vicuna/
llama/
16bit_vicuna13/
16bit_llama/
mistral/
8bit_vicuna/
vicuna13b_16/
abstract_vicuna/
llama_local/
abstract_vicuna1/
llama7b/
llama_env1/
16bit_vicuna/
temp.txt
kg_analyse.ipynb
final_results_ids_df.pkl
final_results_ids.csv
final_results_ids.json
final_results_ids.pkl
16bit_llama7_samples/
16bit_llama7_sampled/
16bit_llama13_10sampled/
llama_7_20_sampled/
llama13_20sampled/
make_medical_kg/
mistral_dist_random/
mistral_multi/
mistral_temp/
vicuna_7b_10sampled/
vicuna_7b_20sampled/
vicuna_13b_10sampled/
vicuna_13b_20sampled/
wikidata_graphs1/
final_results_ids_df_with_samples.pkl
final_results_ids_with_samples.pkl
important/
temp*
*.log
df_sample.*
final_results/